set bear 154.204.56.88:34693
set ident pagxir@gmail.com
set lock.key 123
set lock.interval 28
print FROM pagxir@gmail.com TO dupit8@gmail.com SESSION ssh EXCHANGE 0.0.0.0:0
bear.stun
peer.bear FROM pagxir@gmail.com TO dupit8@gmail.com SESSION ssh EXCHANGE 0.0.0.0:0

print peer FROM pagxir@gmai.com SESSION ssh SYN
print peer FROM pagxir@gmai.com SESSION ssh SYN+ACK
